/**
 * 2014 Material Design color palettes
 * These color palettes, originally created by Material Design in 2014,
 * are comprised of colors designed to work together harmoniously,
 * and can be used to develop your brand palette. To generate your own harmonious palettes,
 * use either the palette generation tool or Material Theme Editor.
 *
 * @link https://material.io/design/color/#tools-for-picking-colors
 */
$mdl-color--red-50:   #FFEBEE;
$mdl-color--red-100:  #FFCDD2;
$mdl-color--red-200:  #EF9A9A;
$mdl-color--red-300:  #E57373;
$mdl-color--red-400:  #EF5350;
$mdl-color--red-500:  #F44336;
$mdl-color--red-600:  #E53935;
$mdl-color--red-700:  #D32F2F;
$mdl-color--red-800:  #C62828;
$mdl-color--red-900:  #B71C1C;
$mdl-color--red-A100: #FF8A80;
$mdl-color--red-A200: #FF5252;
$mdl-color--red-A400: #FF1744;
$mdl-color--red-A700: #D50000;

$mdl-color--pink-50:   #FCE4EC;
$mdl-color--pink-100:  #F8BBD0;
$mdl-color--pink-200:  #F48FB1;
$mdl-color--pink-300:  #F06292;
$mdl-color--pink-400:  #EC407A;
$mdl-color--pink-500:  #E91E63;
$mdl-color--pink-600:  #D81B60;
$mdl-color--pink-700:  #C2185B;
$mdl-color--pink-800:  #AD1457;
$mdl-color--pink-900:  #880E4F;
$mdl-color--pink-A100: #FF80AB;
$mdl-color--pink-A200: #FF4081;
$mdl-color--pink-A400: #F50057;
$mdl-color--pink-A700: #C51162;

$mdl-color--purple-50:   #F3E5F5;
$mdl-color--purple-100:  #E1BEE7;
$mdl-color--purple-200:  #CE93D8;
$mdl-color--purple-300:  #BA68C8;
$mdl-color--purple-400:  #AB47BC;
$mdl-color--purple-500:  #9C27B0;
$mdl-color--purple-600:  #8E24AA;
$mdl-color--purple-700:  #7B1FA2;
$mdl-color--purple-800:  #6A1B9A;
$mdl-color--purple-900:  #4A148C;
$mdl-color--purple-A100: #EA80FC;
$mdl-color--purple-A200: #E040FB;
$mdl-color--purple-A400: #D500F9;
$mdl-color--purple-A700: #AA00FF;

$mdl-color--deep-purple-50:   #EDE7F6;
$mdl-color--deep-purple-100:  #D1C4E9;
$mdl-color--deep-purple-200:  #B39DDB;
$mdl-color--deep-purple-300:  #9575CD;
$mdl-color--deep-purple-400:  #7E57C2;
$mdl-color--deep-purple-500:  #673AB7;
$mdl-color--deep-purple-600:  #5E35B1;
$mdl-color--deep-purple-700:  #512DA8;
$mdl-color--deep-purple-800:  #4527A0;
$mdl-color--deep-purple-900:  #311B92;
$mdl-color--deep-purple-A100: #B388FF;
$mdl-color--deep-purple-A200: #7C4DFF;
$mdl-color--deep-purple-A400: #651FFF;
$mdl-color--deep-purple-A700: #6200EA;

$mdl-color--indigo-50:   #E8EAF6;
$mdl-color--indigo-100:  #C5CAE9;
$mdl-color--indigo-200:  #9FA8DA;
$mdl-color--indigo-300:  #7986CB;
$mdl-color--indigo-400:  #5C6BC0;
$mdl-color--indigo-500:  #3F51B5;
$mdl-color--indigo-600:  #3949AB;
$mdl-color--indigo-700:  #303F9F;
$mdl-color--indigo-800:  #283593;
$mdl-color--indigo-900:  #1A237E;
$mdl-color--indigo-A100: #8C9EFF;
$mdl-color--indigo-A200: #536DFE;
$mdl-color--indigo-A400: #3D5AFE;
$mdl-color--indigo-A700: #304FFE;

$mdl-color--blue-50:   #E3F2FD;
$mdl-color--blue-100:  #BBDEFB;
$mdl-color--blue-200:  #90CAF9;
$mdl-color--blue-300:  #64B5F6;
$mdl-color--blue-400:  #42A5F5;
$mdl-color--blue-500:  #2196F3;
$mdl-color--blue-600:  #1E88E5;
$mdl-color--blue-700:  #1976D2;
$mdl-color--blue-800:  #1565C0;
$mdl-color--blue-900:  #0D47A1;
$mdl-color--blue-A100: #82B1FF;
$mdl-color--blue-A200: #448AFF;
$mdl-color--blue-A400: #2979FF;
$mdl-color--blue-A700: #2962FF;

$mdl-color--light-blue-50:   #E1F5FE;
$mdl-color--light-blue-100:  #B3E5FC;
$mdl-color--light-blue-200:  #81D4FA;
$mdl-color--light-blue-300:  #4FC3F7;
$mdl-color--light-blue-400:  #29B6F6;
$mdl-color--light-blue-500:  #03A9F4;
$mdl-color--light-blue-600:  #039BE5;
$mdl-color--light-blue-700:  #0288D1;
$mdl-color--light-blue-800:  #0277BD;
$mdl-color--light-blue-900:  #01579B;
$mdl-color--light-blue-A100: #80D8FF;
$mdl-color--light-blue-A200: #40C4FF;
$mdl-color--light-blue-A400: #00B0FF;
$mdl-color--light-blue-A700: #0091EA;

$mdl-color--cyan-50:   #E0F7FA;
$mdl-color--cyan-100:  #B2EBF2;
$mdl-color--cyan-200:  #80DEEA;
$mdl-color--cyan-300:  #4DD0E1;
$mdl-color--cyan-400:  #26C6DA;
$mdl-color--cyan-500:  #00BCD4;
$mdl-color--cyan-600:  #00ACC1;
$mdl-color--cyan-700:  #0097A7;
$mdl-color--cyan-800:  #00838F;
$mdl-color--cyan-900:  #006064;
$mdl-color--cyan-A100: #84FFFF;
$mdl-color--cyan-A200: #18FFFF;
$mdl-color--cyan-A400: #00E5FF;
$mdl-color--cyan-A700: #00B8D4;

$mdl-color--teal-50:   #E0F2F1;
$mdl-color--teal-100:  #B2DFDB;
$mdl-color--teal-200:  #80CBC4;
$mdl-color--teal-300:  #4DB6AC;
$mdl-color--teal-400:  #26A69A;
$mdl-color--teal-500:  #009688;
$mdl-color--teal-600:  #00897B;
$mdl-color--teal-700:  #00796B;
$mdl-color--teal-800:  #00695C;
$mdl-color--teal-900:  #004D40;
$mdl-color--teal-A100: #A7FFEB;
$mdl-color--teal-A200: #64FFDA;
$mdl-color--teal-A400: #1DE9B6;
$mdl-color--teal-A700: #00BFA5;

$mdl-color--green-50:   #E8F5E9;
$mdl-color--green-100:  #C8E6C9;
$mdl-color--green-200:  #A5D6A7;
$mdl-color--green-300:  #81C784;
$mdl-color--green-400:  #66BB6A;
$mdl-color--green-500:  #4CAF50;
$mdl-color--green-600:  #43A047;
$mdl-color--green-700:  #388E3C;
$mdl-color--green-800:  #2E7D32;
$mdl-color--green-900:  #1B5E20;
$mdl-color--green-A100: #B9F6CA;
$mdl-color--green-A200: #69F0AE;
$mdl-color--green-A400: #00E676;
$mdl-color--green-A700: #00C853;

$mdl-color--light-green-50:   #F1F8E9;
$mdl-color--light-green-100:  #DCEDC8;
$mdl-color--light-green-200:  #C5E1A5;
$mdl-color--light-green-300:  #AED581;
$mdl-color--light-green-400:  #9CCC65;
$mdl-color--light-green-500:  #8BC34A;
$mdl-color--light-green-600:  #7CB342;
$mdl-color--light-green-700:  #689F38;
$mdl-color--light-green-800:  #558B2F;
$mdl-color--light-green-900:  #33691E;
$mdl-color--light-green-A100: #CCFF90;
$mdl-color--light-green-A200: #B2FF59;
$mdl-color--light-green-A400: #76FF03;
$mdl-color--light-green-A700: #64DD17;

$mdl-color--lime-50:   #F9FBE7;
$mdl-color--lime-100:  #F0F4C3;
$mdl-color--lime-200:  #E6EE9C;
$mdl-color--lime-300:  #DCE775;
$mdl-color--lime-400:  #D4E157;
$mdl-color--lime-500:  #CDDC39;
$mdl-color--lime-600:  #C0CA33;
$mdl-color--lime-700:  #AFB42B;
$mdl-color--lime-800:  #9E9D24;
$mdl-color--lime-900:  #827717;
$mdl-color--lime-A100: #F4FF81;
$mdl-color--lime-A200: #EEFF41;
$mdl-color--lime-A400: #C6FF00;
$mdl-color--lime-A700: #AEEA00;

$mdl-color--yellow-50:   #FFFDE7;
$mdl-color--yellow-100:  #FFF9C4;
$mdl-color--yellow-200:  #FFF59D;
$mdl-color--yellow-300:  #FFF176;
$mdl-color--yellow-400:  #FFEE58;
$mdl-color--yellow-500:  #FFEB3B;
$mdl-color--yellow-600:  #FDD835;
$mdl-color--yellow-700:  #FBC02D;
$mdl-color--yellow-800:  #F9A825;
$mdl-color--yellow-900:  #F57F17;
$mdl-color--yellow-A100: #FFFF8D;
$mdl-color--yellow-A200: #FFFF00;
$mdl-color--yellow-A400: #FFEA00;
$mdl-color--yellow-A700: #FFD600;

$mdl-color--amber-50:   #FFF8E1;
$mdl-color--amber-100:  #FFECB3;
$mdl-color--amber-200:  #FFE082;
$mdl-color--amber-300:  #FFD54F;
$mdl-color--amber-400:  #FFCA28;
$mdl-color--amber-500:  #FFC107;
$mdl-color--amber-600:  #FFB300;
$mdl-color--amber-700:  #FFA000;
$mdl-color--amber-800:  #FF8F00;
$mdl-color--amber-900:  #FF6F00;
$mdl-color--amber-A100: #FFE57F;
$mdl-color--amber-A200: #FFD740;
$mdl-color--amber-A400: #FFC400;
$mdl-color--amber-A700: #FFAB00;

$mdl-color--orange-50:   #FFF3E0;
$mdl-color--orange-100:  #FFE0B2;
$mdl-color--orange-200:  #FFCC80;
$mdl-color--orange-300:  #FFB74D;
$mdl-color--orange-400:  #FFA726;
$mdl-color--orange-500:  #FF9800;
$mdl-color--orange-600:  #FB8C00;
$mdl-color--orange-700:  #F57C00;
$mdl-color--orange-800:  #EF6C00;
$mdl-color--orange-900:  #E65100;
$mdl-color--orange-A100: #FFD180;
$mdl-color--orange-A200: #FFAB40;
$mdl-color--orange-A400: #FF9100;
$mdl-color--orange-A700: #FF6D00;

$mdl-color--deep-orange-50:   #FBE9E7;
$mdl-color--deep-orange-100:  #FFCCBC;
$mdl-color--deep-orange-200:  #FFAB91;
$mdl-color--deep-orange-300:  #FF8A65;
$mdl-color--deep-orange-400:  #FF7043;
$mdl-color--deep-orange-500:  #FF5722;
$mdl-color--deep-orange-600:  #F4511E;
$mdl-color--deep-orange-700:  #E64A19;
$mdl-color--deep-orange-800:  #D84315;
$mdl-color--deep-orange-900:  #BF360C;
$mdl-color--deep-orange-A100: #FF9E80;
$mdl-color--deep-orange-A200: #FF6E40;
$mdl-color--deep-orange-A400: #FF3D00;
$mdl-color--deep-orange-A700: #DD2C00;

$mdl-color--brown-50:  #EFEBE9;
$mdl-color--brown-100: #D7CCC8;
$mdl-color--brown-200: #BCAAA4;
$mdl-color--brown-300: #A1887F;
$mdl-color--brown-400: #8D6E63;
$mdl-color--brown-500: #795548;
$mdl-color--brown-600: #6D4C41;
$mdl-color--brown-700: #5D4037;
$mdl-color--brown-800: #4E342E;
$mdl-color--brown-900: #3E2723;

$mdl-color--gray-50:  #FAFAFA;
$mdl-color--gray-100: #F5F5F5;
$mdl-color--gray-200: #EEEEEE;
$mdl-color--gray-300: #E0E0E0;
$mdl-color--gray-400: #BDBDBD;
$mdl-color--gray-500: #9E9E9E;
$mdl-color--gray-600: #757575;
$mdl-color--gray-700: #616161;
$mdl-color--gray-800: #424242;
$mdl-color--gray-900: #212121;

$mdl-color--blue-gray-50:  #ECEFF1;
$mdl-color--blue-gray-100: #CFD8DC;
$mdl-color--blue-gray-200: #B0BEC5;
$mdl-color--blue-gray-300: #90A4AE;
$mdl-color--blue-gray-400: #78909C;
$mdl-color--blue-gray-500: #607D8B;
$mdl-color--blue-gray-600: #546E7A;
$mdl-color--blue-gray-700: #455A64;
$mdl-color--blue-gray-800: #37474F;
$mdl-color--blue-gray-900: #263238;

$mdl-color--black: #000000;
$mdl-color--white: #FFFFFF;